body{ /* Το χρώμα του φόντου της σελίδας */
    background-color: whitesmoke;
}
.tab { /* Το κένο "tab" */
    display: inline-block;
    margin-left: 2em;
}
.main-banner{ /* Η μορφοποίηση του κεντρικού banner */
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: 50px;
    background-color: #024d99;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size:xx-large;
    text-align: center;
}
.lang-buttons{
      position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    gap: 10px;
    margin-top: 47px;
}
.lang-button{
    background-color: transparent;
    border: none;
    transition: transform .2s;

}
.lang-button:hover{
    transform:scale(1.2);
}
.lang-button img{
    height: 35px;
    width: auto;
}
.empty-banner{  /* Η μορφοποίηση του κενού banner */
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: 50px;
    background-color: whitesmoke;

}

.main-list{ /* Η μορφοποίηση της λίστας στην αριστερή μερία της σελίδας*/
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: #525252;
    align-content: center;
    list-style-type: none;
    margin-left: 15px;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 30px;
    text-align: left;
    width: 850px;
}
.main-button{
    background-color: transparent;
    border: none;
    transition: transform .2s;
    font-weight: bold;
    height: auto;
    position: relative;
}
.main-button img{
    width: 400px;
    height: auto;
    justify-content: center;
}
.brand-motto{ /* Η μορφοποίηση του σλόγκαν της σελίδας */
    font-family: Arial, Helvetica, sans-serif;
     color: #525252;
     font-size: 50px;
}

.menu-button{   /* Η μορφοποίηση των κουμπιών του menu της παραπάνω λίστας*/
    background-color: transparent;
    border: none;
    text-align: center;
    transition: transform .2s;
    color: #525252;
    font-size: 40px;
}

.main-button:hover{
    transform:scale(1.1);
}
.menu-button:hover{ /* η μορφοποίηση που γίνεται κατά την αιώρηση πάνω από τα κουμπιά της λίστας*/
    transform: scale(1.2);
    color: #024d99;
}
.list-image-wrapper { /* τροποποίηση της κλάσης που περιλαμβάνει την λίστα menu-list και τις εικόνες της σελίδας*/
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.images-container{
    position: relative;
    width: 900px;
    width: 100%;
    height: auto;
    margin-right: 300px;
    margin-bottom: 370px
}
.daedalus-img menu{
    margin-right: 100px;
}
.daedalus-img img{
    width: 600px;
    height: auto;
    position: absolute;
    margin-left: 280px;
}
.about-us-text {
    font-family: Arial, Helvetica, sans-serif;
    color: #525252;
    size: 30px;
    margin-top: 400px;
    
}
.image{
    align-items:center ;
    justify-content: center;
}
.image img{
    padding: 20px;
    width: 700px;
    height: auto;
    margin-left: 250px;
}
.bottom-page{   /* η κάτω περιοχή της σελίδας */
    background-color: #024d99;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    height: 500px;

}

.bottom-button{

    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: none;
    list-style-type: none;
    align-content: space-around;
    margin-bottom: 10px;
    margin-right: 1400px;
    color: whitesmoke;
    font-size: 40px;
    transition: transform .2s;
    text-align: left;
}
.bottom-button:hover{
    transform: scale(1.1);
    color: black;
}
.bottom-page-social{
      background-color: transparent;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.social-media{
    background-color:transparent;
    margin: 50px;
    display: flex;
    justify-content: center;
    color: whitesmoke;
}
.social-media img{
    color:white;
    width: 40px;
    height: auto;
}